services:
  # 1. Baby Gateway (Nginx) - Cửa duy nhất của VM này
  order-gateway:
    image: nginx:alpine
    ports:
      - "80:80" # Mở port 80 của VM ra cho VM khác gọi vào
    volumes:
      - ./nginx-order.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - order-service

  # 2. Redis Flash Sale (Cache cục bộ)
  redis-flashsale:
    image: redis:7-alpine
    command: redis-server --appendonly yes
    deploy:
      resources:
        limits: { cpus: '1.0', memory: 1G }

  # 3. Order Service (8 Replicas)
  order-service:
    build:
      context: .
      dockerfile: ./services/order/Dockerfile
    environment:
      - PORT=3000
      - REDIS_URL=redis://redis-flashsale:6379 # Gọi Redis nội bộ
      - RABBITMQ_URL=amqp://user:pass@10.148.0.7:5672 # Gọi RabbitMQ ở VM 3
      # ... các env khác ...
    deploy:
      replicas: 8
      resources:
        limits: { cpus: '0.50', memory: 600M }